networking:
  private_dns:
    enabled: true
    zones:
      - "privatelink.blob.core.windows.net"
      - "privatelink.file.core.windows.net"

azure:
  subscription_id: "00000000-0000-0000-0000-000000000000"
  location: "centralus"
